<p align=center>Fingerprint:<%= fingerprint %></p>
<p align=center>Item:<%= item %></p>
<p align=center>
	  <video id="video" width="600">
	    <source type="video/<%= mime %>" src = "./data/<%= form %>/<%= name %>.<%= mime %>#t=start,stop;">
 	   Your browser does not support HTML5 video.
	  </video>
</p>
